@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<!-- Scripts / Styling -->
<script src="~/Scripts/geoapify.js"></script>
<link rel="stylesheet" href="~/Scripts/geoapify.js" />

<!-- Autofill Adress Form -->
<div class="autocomplete-container" id="autocomplete-container"></div>