@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Database Programming: Final Project</h1>
    <h2>Erik Hansen</h2>
    <p class="lead">
        June 10, 2022
    </p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2 class="col-md-12">Front page</h2>
        <p>
            In this final project we were tasked to add in all of the features that we have learned
            throughout this course. Having table views, adding rows of data, updating records and many 
            other features.
        </p>
    </div>
</div>